:root {
    --primary: #fff
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    animation: animate 2s linear infinite;
    -webkit-background-clip: background;
    -webkit-background-size: 500%;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    border-radius: 10%;
}

.btn--large{
    padding: 8px 26px;
    font-size: 20px;
} 
.btn--medium:hover, .btn--large{
    background: #fff;
    color: transparent;
    transition: 250ms ease-out;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-background-size: 500%;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

